@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');

.contenedor{
    background: transparent;
    position: relative;
    margin:10px;
    padding:0;
    background-size: cover;
    :hover > .descripcion{
        background: rgba(255, 255, 255,1);

    }
}

.Contenedor2{
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
}

a{
    padding: 0;
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    :hover .descripcion{
        background: rgba(255, 255, 255,1);

    }
}


.descripcion{
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-size: 20px;
    font-family:'Titillium Web', sans-serif;
    height: auto;
    color: black;
    overflow-wrap: break-word;
    position: absolute;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    bottom:0;
    :hover {
        background: rgba(255, 255, 255, 1);

    }
}