@import 'bootstrap';


body {
    height: 100%;
    background-color: black;
}

.hola .que{
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100px;
    background-color: red;
    position: absolute;
    text-align: justify;
}

.ase{
    background: red;
}

.asd{
    background: green;
}

.asg{
    background: black;
}